<link rel="stylesheet" href="styles/main.css" type="text/css">
<link rel="icon" href="assets/favicon.ico" type="image/x-icon"/>

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://unpkg.com/mqtt/dist/mqtt.min.js"></script>
</head>

<body>

    <div class="content">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 103.3 102.7">
            <defs />
            <g transform="matrix(.26458 0 0 .26458 -16.1 -32.7)">
                <path fill="#aeadb3" d="M209.7 402.7h92.6V512h-92.6z" />
                <g fill="#8b8892">
                    <path
                        d="M256.3 402.7h46V512h-46zM334.5 256.3l14.4 1.1a84 84 0 0080.8-39 125.8 125.8 0 0018-42.3l3.5-18.6H334.5zM334.5 371.8l14.4 1.2a84 84 0 0080.8-39 125.8 125.8 0 0018-42.4l3.5-18.6H334.5z" />
                </g>
                <g fill="#aeadb3">
                    <path
                        d="M64.4 176.1c.2.9 4.3 22 18 42.2a84 84 0 0080.7 39.1l14.4-1.1v-98.8H60.8zM64.4 291.6c.2 1 4.3 22 18 42.3a84 84 0 0080.7 39l14.4-1.1V273H60.8z" />
                </g>
                <rect width="217.1" height="310.4" x="148.7" y="123.7" fill="#57555c" ry="21.2" />
                <rect width="109.5" height="309.9" x="256.3" y="124.2" fill="#2b292c" ry="20.2" />
                <rect width="69.5" height="309.9" x="256.3" y="124.2" fill="#2b292c" ry="0" />
                <g id="lights">
                    <g id="redLight">
                        <path id="light-redLeft" fill="#f55"
                            d="M309.7 216.8a53.7 53.7 0 01-53.4 53.7h-.3a53.7 53.7 0 010-107.5h.3a53.7 53.7 0 0153.4 53.8z" />
                        <path id="light-redRight" fill="#d40000"
                            d="M309.7 216.8a53.7 53.7 0 01-53.4 53.7V163a53.7 53.7 0 0153.4 53.8z" />
                    </g>
                    <g id="greenLight">
                        <path id="light-greenLeft" fill="#36cd90"
                            d="M309.7 341.4a53.7 53.7 0 01-53.4 53.8h-.3a53.7 53.7 0 010-107.5h.3a53.7 53.7 0 0153.4 53.7z" />
                        <path id="light-greenRight" fill="#00a653"
                            d="M309.7 341.4a53.7 53.7 0 01-53.4 53.8V287.7a53.7 53.7 0 0153.4 53.7z" />
                    </g>
                </g>
            </g>
        </svg>
    </div>

    <script src="src/main.js"></script>
</body>