* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    text-align: center;
    
}


.content{

}

.lightOff{
    filter: brightness(30%);
}

.lightOn{
    filter: brightness(100%);
}

#lights{
    transition: 200ms;
}

